* {
  box-sizing: border-box;
  padding: 0;
  font-size: 20px;
}

*::selection{
    background-color: rgb(219, 219, 219);
}

body, html{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    padding: 0 auto;
    min-height: auto;
    background-image: url("../images/Woroc-background.png");
    background-size: 50%;
    background-position-x: center;
    background-repeat: no-repeat;  
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main div{
    margin-top: 25%;
    text-align: left;
    padding-left: 10em;
    padding-right: 10em;
}

.main div h1{
    font-size: 3em;
}

.main .products {
    margin: 0 auto;
    margin-top: 25%;
    padding-left: 15%;
    padding-right: 15%;    
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    flex-wrap: wrap;
}

.main .products .playvinil{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.main .products .playvinil .product-describe{
    display: none;
}

.main .products .playvinil .playvinil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
}

.main .products .playvinil .playvinil-photo{
    padding: 0.5em;
    transition: transform 0.3s ease-in-out;
}


.main .products .playvinil .playvinil-photo:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.main .products .playvinil .playvinil-name{
    padding: 0.5em; 
    text-align: center;
    max-width: 10em;
}

.main .products .playvinil .playvinil-name:hover{
    cursor: pointer;
}

.main .products .playvinil .playvinil-price{
    padding: 0.5em;
}

.main .products .playvinil .playvinil-addtobasket{
    margin: 0.5em;
    padding: 5%;
    background-color:  rgb(173, 85, 255);
    border-radius: 1.2em;;
    visibility: hidden; 
}


.main .products .playvinil .playvinil-addtobasket:hover{
    cursor: pointer;
}

.footer{
    background-color:rgb(260,260,260);
    min-height: 1em;
    color: black;
    position: relative;
    margin: 0;
    bottom: 0 auto;
    padding: 0.6em;
    background-color: rgb(128, 128, 128, 0.05) ;

}

.footer .footertop {
    max-width: auto;
    display: flex;
    justify-content: center;
}

.footer .footertop .container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.footer .footertop .container .firstsection{
    width: auto;
    text-align: center;
    margin: 1em;
    background-color: rgb(245, 245, 245);
    box-shadow:  0 0.1em 1em rgb(128, 128, 128, 0.5);
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footer .footertop .container .firstsection .footerlogo {
    position: relative;
    margin: 0;
    justify-content: center;
}

.footer .footertop .container .firstsection .colitems {
    margin: 1em;
    padding-bottom: 1em;
    min-width: 10em;
}


.footer .footertop .container .firstsection .colitems .sub-item{
    margin-top: 1em;
}

.footer .footertop .container .firstsection .colitems .col-item{
    margin-bottom: 1em;
}


.footer .footertop .container .firstsection .colitems .col-item a{
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.footer .footertop .container .firstsection .colitems .col-item a:hover{
    text-decoration: none;
}

.footer .footertop .container .centersection{
    margin: 1em;
    width: auto;
    background-color: rgb(245, 245, 245);
    box-shadow:  0 0.1em 1em rgb(128, 128, 128, 0.5);
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer .footertop .container .centersection .footerlogo {
    position: relative;
    margin: 0;
    justify-content: center;
}

.footer .footertop .container .centersection .colitems {
    margin: 1em;
    padding-bottom: 1em;
    min-width: 10em;
}


.footer .footertop .container .centersection .colitems .sub-item{
    margin-top: 1em;
}

.footer .footertop .container .centersection .colitems .col-item{
    margin-bottom: 1em;
}


.footer .footertop .container .centersection .colitems .col-item a{
    text-decoration: none;
    color: rgb(19, 19, 19);
}


.footer .footertop .container .centersection .colitems .col-item a:hover{
    text-decoration: none;
    color: rgb(119, 119, 119);
}

@media only screen and (min-width: 1024px) {
    .menu{
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 1024px) {
    header{
        position: relative;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        max-width: none;
        position: absolute;
        top: 90%;   
        left: 0;
        background-color: rgb(260, 260, 260);
        z-index: 1;
        padding-right: -5em;
        visibility: none;
    }

    .menu.show {
        background-color: white;
        display: flex;  
        margin-top: 0.35em;
    }

    .menu.show .search .searchsong{
        max-width: 70%;
    }

    .menu.show .navigation {
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .menu.show .navigation ul {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;    
    }

    .menu.show .navigation ul li{
        list-style: decimal-leading-zero;
        height: 100%;
        margin-right: 0;
        border: 1px solid black;
    }   

    .menu.show .navigation ul li::after{
        content: '';
        bottom: 0em;
        transition: 1s;
    }
    .menu.show .search{
        right: 0%;
        position: relative;
        justify-content: center;   
    }


    .menu-toggle {
        display: flex;
    }

    .main .products .playvinil .playvinil-addtobasket{
        visibility: visible;
    }
    
    .main .products .playvinil .playvinil-photo:hover{
        cursor: pointer;
        transform: none;
    }
    
    .main .products {
        flex-direction: row;
    }

    .footer .footertop .container {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }
}   